<div class="container">
    <div class="help_content_service">
        <div class="custom_service">
            <span>Customer Support</span>
            <h4>How can we help you?</h4>
        </div>
    </div>
    <div class="breadcrubm">
        <ul>
            <li class="tab_bread">
                <a href="#faq_ask">Faq</a>
            </li>
            <li class="tab_bread">
                <a href="#mail">
                    Enquire
                </a>
            </li>
        </ul>
    </div>
    <div class="breadcrumb-content">
        <div class="content">
            <h1 class="faq-heading">Frequently Asked Questions</h1>
            <div class="faq-container">
                <div class="faq-one">
                    <!-- faq question -->
                    <h1 class="faq-page"></h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p></p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-two">
                    <!-- faq question -->
                    <h1 class="faq-page"> </h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p></p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-three">
                    <!-- faq question -->
                    <h1 class="faq-page"></h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-four">
                    <!-- faq question -->
                    <h1 class="faq-page">  </h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p>
                             
                        </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-five">
                    <!-- faq question -->
                    <h1 class="faq-page"> </h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p>
                                 
                        </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-six">
                    <!-- faq question -->
                    <h1 class="faq-page"> </h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p>
                                
                        </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-seven">
                    <!-- faq question -->
                    <h1 class="faq-page">  </h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p></p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-seven">
                    <!-- faq question -->
                    <h1 class="faq-page">  </h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-seven">
                    <!-- faq question -->
                    <h1 class="faq-page"> </h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p>
                        </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-eight">
                    <!-- faq question -->
                    <h1 class="faq-page"></h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="mail" class="contact_info_mail content">
            <div class="mail_inbox">
                <img src="{{ asset('assetss/mail.png') }}" alt="">
                <p class="p-l-3 p-r-3">
                    If you have a question or just want to get in touch, use the form below. We look forward to
                    hearing from you!
                </p>
            </div>
            <div class="contact_form">
                <h2>Contact Us</h2>
                <form action="{{ route('feedback') }}" method="post">
                    @csrf
                    <div>
                        <input type="text" name="name" class="contact_form_input" id="" placeholder="Full Name">
                    </div>
                    <div>
                        <input type="email" name="email" id="" placeholder="Email Address">
                    </div>
                    <div>
                        <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    </div>
                    <div style="text-align: center;">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>